	body{background:#B0B0B0;
		color:006561;
		font-weight:4px;
	}
	#sidebar-wrapper{text-align: left;
			font-size:20px;
			color:black;
			list-style-type:none;}

	#top{text-align:center;
}
	h4{direction:rtl;
		color:blue;}
	h1{font-style:strong;
	}
	h3{font-style:italic;
		text-align:center;
	}










